<ul class="nav navbar-nav navbar-right" id="translatable-switcher">
    <li id="language" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'admin.locale.dropdown.title' | trans({}, 'FSiAdminTranslatableBundle') }} ({{ currentLocale }})<b class="caret"></b></a>
         {% if isTranslatable %}
            <ul class="dropdown-menu">
                {% for locale,route in routes %}
                    <li>
                          <a href="{{ route }}">{{ locale }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
</ul>
