admin_translatable_locale:
  path: /translatable-locale/{locale}
  defaults:
    _controller: admin_translatable.controller.locale:changeLocaleAction

fsi_admin_translatable_crud_list:
    path: /{locale}/{element}/list
    defaults:
        _controller: admin_translatable.controller.crud:listAction

fsi_admin_translatable_crud_create:
    path: /{locale}/{element}/create
    defaults:
        _controller: admin_translatable.controller.crud:createAction

fsi_admin_translatable_crud_edit:
    path: /{locale}/{element}/edit/{id}
    defaults:
        _controller: admin_translatable.controller.crud:editAction

fsi_admin_translatable_crud_delete:
    path: /{locale}/{element}/delete
    defaults:
        _controller: admin_translatable.controller.crud:deleteAction
    methods: [DELETE]

fsi_admin_translatable_resource:
    path: /{locale}/resource/{element}
    defaults:
        _controller: admin_translatable.controller.resource:resourceAction
